
@media (min-width: 1800px) {
    .WrapperContent {
        > .container {
            max-width: 1400px;
        }
    }
    .containerCustom {
        max-width: 1400px;
    }

}
@media (min-width: 1400px) {
    .notHome.layoutDashboard .clearPaddingCont {
        min-height: calc(100vh - 170px);
    }
}
@media (min-width: 1400px) {
    .homeSlider .wrapperSlide {
        height: calc(100vh - 381px);
        align-items: center;
    }
}

