$font-ar: "SomarRegular";
$font-en: "SomarRegular";

$font-path: "../fonts/";
$img-path: "../images/";

// colors


$pColor464646: #464646;
$color6C788D: #6C788D;
$golden-color:#CCA079;
$black-color: #012D29;
$black-color-two:#1D1D1B;
$light-blue-hover:#00FFE8;
$dark-green: #007066;
$light-grey: #9C9C9C;
$headres-bg:#E5ECEC;
// background
$mainGreen:#066058;
$green008E7D:#008E7D;
$theme-colors: (
  // "primary": $primary-color,
  // "warning": $orange-color,
  // "success": $green-color,
  // "gray": $gray-color,
  // "red": $red-color
);

// font weight
$w-thin: 100; // (Hairline)
$w-extra-light: 200; // (Ultra Light)
$w-light: 300;
$w-normal: 400; // (Regular)
$w-medium: 500;
$w-semi-bold: 600; // (Semi Bold)
$w-bold: 700;
$w-extra-bold: 800; // (Ultra Bold)
$w-black: 900; //(Heavy)



//more 

$raduis-normal : 8px;