/*** LTR websites ***/
@font-face {
  font-family: "SomarLight";
  src: url("../fonts/SomarSans-Light.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "SomarRegular";
  src: url("../fonts/SomarSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "SomarMedium";
  src: url("../fonts/SSomarSans-Medium.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "SomarBold";
  src: url("../fonts/SomarSans-Bold.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

body {
  font-family: "SomarRegular";
  direction: ltr;
  text-align: left;
}

html[dir="rtl"] body {
  font-family: "SomarRegular";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.strong {
  font-weight: bold;
}

ul.blue-dots {
  list-style: none;
  line-height: 32px;
}

ul.blue-dots li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

ol {
  list-style: decimal;
  line-height: 32px;
}

ol li {
  padding-left: 10px;
}

.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

.breadcrumb-main a {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #008E7D;
  position: relative;
  margin-right: 5px;
}

.breadcrumb-main a::after {
  margin-left: 5px;
  content: ">";
}

.breadcrumb-main span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #008E7D;
}

.page-title {
  background-color: #066058;
  border-radius: 10px;
  height: 50px;
  padding: 16px 20px;
}

.page-title h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.mainCards {
  margin-top: 30px !important;
}

.mainCards .col-lg-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.mainCards.mainCards5 .col-lg-3 {
  width: 20%;
  padding-left: 17px;
  padding-right: 17px;
}

.mainCards.mainCards5 .mainCard {
  min-height: 110px;
  background-position: 20px 45px;
}

.mainCards.mainCards5 .mainCard h4 {
  font-size: 16px;
}

.mainCards.mainCards5 .mainCard .counter span {
  font-size: 12px;
  color: inherit;
  font-family: 'SomarRegular';
}

.mainCards .mainCard {
  border-radius: 10px;
  background-color: #fff;
  background-image: url(../images/cardsBGsvg.svg);
  background-position: 20px 13px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.02);
          box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.02);
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCards .mainCard h4 {
  font-size: 18px;
  font-weight: 700;
  color: #464646;
  margin-bottom: 8px;
  line-height: 1.5;
}

.mainCards .mainCard .counter {
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 45px;
  font-family: "Inter";
}

.mainCards .mainCard.with-progress {
  min-height: 120px;
}

.mainCards .mainCard.with-progress .progress {
  height: 6px;
  width: 100%;
  border-radius: 8px;
  background-color: #EEF1F4;
  display: block;
  direction: ltr;
}

.mainCards .mainCard.with-progress .progress .progress-bar {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.mainCards .mainCard.color1 .counter {
  color: #30B1A8;
}

.mainCards .mainCard.color1 .progress .progress-bar {
  background-color: #30B1A8;
}

.mainCards .mainCard.color2 .counter {
  color: #3DB4E4;
}

.mainCards .mainCard.color2 .progress .progress-bar {
  background-color: #3DB4E4;
}

.mainCards .mainCard.color3 .counter {
  color: #8D5316;
}

.mainCards .mainCard.color3 .progress .progress-bar {
  background-color: #8D5316;
}

.mainCards .mainCard.color4 .counter {
  color: #529C44;
}

.mainCards .mainCard.color4 .progress .progress-bar {
  background-color: #529C44;
}

.mainCards .mainCard.color5 .counter {
  color: #61C4BD;
}

.mainCards .mainCard.color5 .progress .progress-bar {
  background-color: #61C4BD;
}

.tabs-sec {
  margin-top: 30px !important;
}

.tabs-sec .nav-tabs {
  border: none;
}

.tabs-sec .nav-tabs .nav-link {
  width: calc(100% / 5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #6C788D;
  background-color: #EEF1F4;
  border: 1px solid #f8f8f8;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
}

.tabs-sec .nav-tabs .nav-link .icon-box {
  margin-right: 13px;
}

.tabs-sec .nav-tabs .nav-link.active {
  background-color: #fff;
}

.tab-content {
  padding-top: 17px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 30px;
  background-color: #fff;
  margin-bottom: 40px;
}

.tab-content .tab-pane {
  min-height: 300px;
}

.tabs-top-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.tabs-top-area .searchWarper .inputSearch {
  margin-bottom: 0;
}

.tabs-top-area .searchWarper .inputSearch input {
  font-size: 14px;
  width: 380px;
}

.tabs-top-area .searchWarper .inputSearch .btnMain, .tabs-top-area .searchWarper .inputSearch .btnMainWhite {
  width: 90px;
  font-size: 14px;
}

.tabs-top-area .add-btn {
  font-size: 14px;
  font-weight: 700;
  color: #008E7D;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  padding: 12px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #008E7D;
  border-radius: 6px;
}

.tabs-top-area .add-btn img {
  margin-right: 10px;
}

.tableOne .table thead tr th {
  border-bottom: 1.5px solid #008E7D !important;
  font-size: 16px;
  font-weight: 500;
  color: #464646;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tableOne .table tbody tr td, .tableOne .table tbody tr th {
  font-size: 16px;
  font-weight: 500;
  color: #6C788D;
  border-bottom: 1px solid rgba(108, 120, 141, 0.2) !important;
  padding-top: 15px;
  padding-bottom: 13px;
}

.tableOne .table tbody tr:last-of-type {
  margin: 0;
}

.tableOne .table tbody tr:last-of-type td, .tableOne .table tbody tr:last-of-type th {
  border-bottom: 0 !important;
}

.no-meetings-yet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-top: 60px;
}

.no-meetings-yet h5 {
  font-size: 20px;
  font-weight: 700;
  color: #464646;
  margin: 0 auto;
}

.bottom-sec .add-comment {
  margin-bottom: 20px;
}

.bottom-sec .add-comment label {
  font-size: 20px;
  font-weight: 700;
  color: #6C788D;
  margin-bottom: 7px;
  display: block;
}

.bottom-sec .add-comment textarea {
  display: block;
  width: 100%;
  border: 1px solid #DADADA;
  border-radius: 6px;
  font-size: 16px;
  padding: 12px 20px;
}

.bottom-sec .add-attachments {
  margin-bottom: 20px;
}

.bottom-sec .add-attachments label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.bottom-sec .add-attachments input {
  display: block;
  border: 1px solid #DADADA;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 14px;
}

.bottom-sec .add-attachments .filePoundClass {
  max-width: 550px;
}

.bottom-sec .btnMain, .bottom-sec .btnMainWhite {
  width: 90px;
  height: 40px;
  margin-bottom: 30px;
  font-size: 14px;
}

.comment-sec {
  margin-bottom: 40px;
}

.comment-sec .comment-area .top-profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.comment-sec .comment-area .top-profile-box .img-box {
  width: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 50px;
  background-color: #008E7D;
  border-radius: 50%;
  overflow: hidden;
  padding: 12.5px;
  margin-right: 15px;
}

.comment-sec .comment-area .top-profile-box .img-box img {
  width: 100%;
  height: 100%;
}

.comment-sec .comment-area .top-profile-box h4.name {
  font-size: 20px;
  font-weight: 700;
  color: #008E7D;
  margin-bottom: 0;
}

.comment-sec .comment-area .comment-added {
  padding-left: 60px;
  position: relative;
}

.comment-sec .comment-area .comment-added p {
  font-size: 18px;
  font-weight: 500;
  color: #6C788D;
  line-height: 1.5;
  border: 1px solid #EEF1F4;
  border-radius: 6px;
  background-color: #F8F8F8;
  padding: 30px;
  padding-left: 16px;
  margin-bottom: 10px;
}

.comment-sec .comment-area .comment-added .reply-a a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  color: #30B1A8;
}

.comment-sec .comment-area .comment-added .reply-a span {
  font-size: 18px;
  font-weight: 500;
  color: #6C788D;
  margin-left: 15px;
}

.comment-sec .comment-area .comment-added .actionsLegan .moreAction {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 18px;
  height: 18px;
}

.comment-sec .comment-area .comment-added .actionsLegan .moreBox {
  position: absolute;
  right: 12px;
  top: 35px;
  background: #eef1f4;
  border: 1px solid #eef1f4;
  min-width: 120px;
  min-height: 85px;
  width: auto;
  height: auto;
  text-align: right;
  padding: 16px 14px;
  border-radius: 5px;
  display: none;
}

.comment-sec .comment-area .comment-added .actionsLegan .moreBox a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

.comment-sec .comment-area .comment-added .actionsLegan .moreBox a img {
  margin-right: 12px;
}

.comment-sec .comment-area .comment-added .actionsLegan .moreBox a:last-child {
  margin-bottom: 0;
}

.comment-sec.with-reply .comment-area {
  position: relative;
}

.comment-sec.with-reply .comment-area::after {
  content: "";
  position: absolute;
  left: 24px;
  top: 50px;
  width: 1px;
  height: 105%;
  background-color: #EEF1F4;
}

.comment-sec .reply-area {
  padding-left: 105px;
  padding-top: 35px;
  position: relative;
}

.comment-sec .reply-area::after {
  content: "";
  position: absolute;
  left: 24px;
  top: 55px;
  width: 1px;
  height: 100%;
  background-color: #EEF1F4;
}

.comment-sec .reply-area:last-child::after {
  display: none;
}

.comment-sec .reply-area .top-reply-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.comment-sec .reply-area .top-reply-box .img-box {
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  background-color: #8D5316;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  position: relative;
}

.comment-sec .reply-area .top-reply-box .img-box::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #EEF1F4;
  left: -80px;
  top: 50%;
}

.comment-sec .reply-area .top-reply-box .img-box img {
  width: 100%;
  height: 100%;
}

.comment-sec .reply-area .top-reply-box h4.name {
  font-size: 20px;
  font-weight: 700;
  color: #8D5316;
  margin-bottom: 0;
}

.comment-sec .reply-area .reply-added {
  padding-left: 50px;
  position: relative;
}

.comment-sec .reply-area .reply-added .actionsLegan .moreAction {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 18px;
  height: 18px;
}

.comment-sec .reply-area .reply-added .actionsLegan .moreBox {
  position: absolute;
  right: 12px;
  top: 35px;
  background: #eef1f4;
  border: 1px solid #eef1f4;
  min-width: 120px;
  min-height: 85px;
  width: auto;
  height: auto;
  text-align: right;
  padding: 16px 14px;
  border-radius: 5px;
  display: none;
}

.comment-sec .reply-area .reply-added .actionsLegan .moreBox a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

.comment-sec .reply-area .reply-added .actionsLegan .moreBox a img {
  margin-right: 12px;
}

.comment-sec .reply-area .reply-added .actionsLegan .moreBox a:last-child {
  margin-bottom: 0;
}

.comment-sec .reply-area .reply-added .content-sec {
  border: 1px solid #EEF1F4;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 10px;
}

.comment-sec .reply-area .reply-added .content-sec p {
  font-size: 18px;
  font-weight: 500;
  color: #6C788D;
  margin-bottom: 5px;
}

.comment-sec .reply-area .reply-added .content-sec h5 {
  font-size: 18px;
  font-weight: 700;
  color: #6C788D;
  margin-bottom: 10px;
}

.comment-sec .reply-area .reply-added .content-sec .att a {
  display: block;
  margin-bottom: 10px;
}

.comment-sec .reply-area .reply-added .content-sec .att a .icon-box {
  margin-right: 10px;
  display: inline-block;
}

.comment-sec .reply-area .reply-added .content-sec .att a span {
  font-size: 18px;
  font-weight: 500;
  color: #066058;
  text-decoration: underline;
}

.comment-sec .reply-area .reply-added .reply-a a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  color: #30B1A8;
}

.comment-sec .reply-area .reply-added .reply-a span {
  font-size: 18px;
  font-weight: 500;
  color: #6C788D;
  margin-left: 15px;
}

#nav-projects {
  height: 475px;
  overflow-y: auto;
  padding-right: 15px;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#nav-projects::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

#nav-projects::-webkit-scrollbar-track {
  background: #EEF1F4;
  border-radius: 20px;
}

#nav-projects::-webkit-scrollbar-thumb {
  background: #008E7D;
  border-radius: 20px;
}

#nav-projects::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#addingLN .modal-dialog .modal-content .modal-body .form p.basic {
  font-size: 18px;
  font-weight: 500;
  color: #6C788D;
  margin-bottom: 5px;
}

ul.PrStages-data {
  margin-top: 15px;
}

ul.PrStages-data li {
  margin-bottom: 15px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(108, 120, 141, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul.PrStages-data li:last-child {
  border-bottom: none;
}

ul.PrStages-data li h4 {
  font-size: 16px;
  font-weight: 700;
  color: #464646;
  margin-bottom: 0;
  width: 240px;
}

ul.PrStages-data li p {
  font-size: 16px;
  font-weight: 500;
  color: #6C788D;
  margin-bottom: 0;
}

ul.PrStages-data li a {
  display: block;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #066058;
  opacity: 0.8;
}

body {
  background: #eef1f4;
  font-family: "SomarRegular";
  text-align: left;
}

/*  Global style */
img {
  max-width: 100%;
}

a {
  color: #008E7D;
  text-decoration: none;
}

a:hover {
  color: #066058;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.input-group {
  margin-bottom: 20px;
  display: block;
}

.label,
select,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-size: 16px;
  color: #6C788D;
}

.label,
select,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-size: 16px;
  color: #6C788D;
}

.label,
select,
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  font-size: 16px;
  color: #6C788D;
}

.label,
select,
textarea::placeholder,
input::placeholder {
  font-size: 16px;
  color: #6C788D;
}

.label {
  color: #464646;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.title {
  font-size: 30px;
  color: #464646;
  font-weight: 500;
}

.font22 {
  color: #464646;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: normal;
}

.fontLight, .p18 {
  font-family: "SomarLight";
}

.p18 {
  font-size: 18px;
  color: #464646;
  margin-bottom: 5px;
}

.font15 {
  margin-bottom: 5px;
  color: #464646;
  font-size: 15px;
}

textarea,
select,
input {
  font-size: 16px;
}

textarea:not([type="submit"]),
select:not([type="submit"]),
input:not([type="submit"]) {
  height: 44px;
  width: auto;
  min-width: 158px;
  border: 1px solid #dadada;
  padding: 10px 14px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 16px;
  text-align: left;
  color: #6C788D;
}

textarea {
  min-height: 160px;
  resize: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 4px;
  background-clip: content-box;
  border: 2px solid #5e81a4;
  background-color: transparent;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #b77f88;
  border-color: #b77f88;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 30px;
  background: transparent url(../images/Arrow-Down.svg) no-repeat;
  background-position: 13px 13px;
}

.flexRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexRadio .label {
  margin-left: 11px;
}

button,
.btnMain,
.btnMainWhite {
  font-size: 16px;
  color: #fff;
  background: #066058;
  border: none;
  border-radius: 5px;
  padding: 9px 15px;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.btnMainWhite {
  color: #066058;
  background: #fff;
  border: 1px solid #066058;
}

.btnMainLight {
  background: #008E7D;
  border: 1px solid #008E7D;
}

.btnMainLight.bgWhite, .btnMainLight.wrapperDash {
  background: #fff;
  color: #008E7D;
}

.btnMainLight.bgWhite path, .btnMainLight.wrapperDash path {
  stroke: #008E7D;
}

.btnMainLight svg {
  margin-right: 10px;
}

.font20, .navbarCustomSaso .navbar-light .navbar-nav .nav-link span, .homeSlider .wrapperSlide .textBanner p, .homeNumber .boxNum .numberCountUp span {
  font-size: 20px;
  color: #464646;
  font-weight: 600;
}

.font30 {
  font-size: 30px;
  color: #464646;
  font-weight: 600;
}

p {
  line-height: normal;
}

.flexCenter, .btnBoder, .homeNumber .boxNum, .sasoFooter .policySec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnBoder {
  min-width: 134px;
  min-height: 50px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}

.layoutDashboard.notHome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.layoutDashboard.notHome .contentDashboard {
  width: calc(100% - 240px);
}

.layoutDashboard.notHome .LinksDashboard {
  width: 240px;
}

.layoutDashboard.notHome .containerCustom .navbar-brand {
  font-size: 24px;
  color: #066058;
}

.layoutDashboard.notHome .containerCustom .navbar-brand.disable {
  display: none;
}

/* start home page */
.navbarCustomSaso {
  background: #fff;
  padding: 19px 0 18px 0;
}

.navbarCustomSaso .navbar-light .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarCustomSaso .navbar-light .navbar-nav .nav-link {
  padding: 0;
  margin-left: 20px;
  border: unset;
  background: transparent;
}

.navbarCustomSaso .navbar-light .navbar-nav .nav-link > img {
  margin-top: -3px;
}

.navbarCustomSaso .navbar-light .navbar-nav .nav-link span {
  color: #6C788D;
  margin-right: 4px;
}

.navbarCustomSaso .navbar.navbar-expand-lg {
  padding: 0;
}

.navbarCustomSaso .navbar.navbar-expand-lg .collapse.navbar-collapse {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.navbarCustomSaso .navbar.navbar-expand-lg .navbar-nav.mr-auto {
  direction: rtl;
}

.navbarCustomSaso .navbar.navbar-expand-lg .navbar-brand img {
  height: 53px;
}

.navbarCustomSaso .notificationA button {
  background: unset;
  padding-top: 0px;
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  min-width: unset;
  border: unset;
}

.navbarCustomSaso .notificationA .dropdown-menu {
  width: 330px;
  left: 0;
  border-radius: 8px;
  top: 51px;
  border-radius: 0px 0px 8px 8px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border: unset;
  padding: 0;
}

.navbarCustomSaso .notificationA .dropdown-menu .dropdown-item {
  padding: 7px 12px !important;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.navbarCustomSaso .notificationA .dropdown-menu .dropdown-item span {
  color: #007066;
  white-space: pre-line;
}

.navbarCustomSaso .notificationA .dropdown-menu .dropdown-item img {
  margin-right: 6px;
}

.navbarCustomSaso .notificationA .dropdown-menu .dropdown-item:hover {
  color: unset !important;
  background-color: unset !important;
}

.navbarCustomSaso .notificationA .dropdown-menu .dropdown-item.visitedLink span {
  color: #bbbbbb;
}

.navbarCustomSaso .notificationA .dropdown-menu .dropdown-item.visitedLink img {
  -webkit-filter: invert(45%) sepia(10%) saturate(258%) hue-rotate(43deg) bleftness(89%) contrast(100%);
          filter: invert(45%) sepia(10%) saturate(258%) hue-rotate(43deg) bleftness(89%) contrast(100%);
}

.navbarCustomSaso .notificationA .dropdown-menu .showAll {
  color: #bb9258 !important;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 8px 0 12px;
}

.navbarCustomSaso .notificationA.notificationB .redNotification {
  background: transparent;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  position: relative;
}

.navbarCustomSaso .notificationA.activeNotify button img {
  -webkit-filter: invert(35%) sepia(11%) saturate(1524%) hue-rotate(130deg) bleftness(101%) contrast(101%);
          filter: invert(35%) sepia(11%) saturate(1524%) hue-rotate(130deg) bleftness(101%) contrast(101%);
}

.navbarCustomSaso .notificationA.activeNotify .redNotification .red {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: #bb9258;
  border-radius: 50px;
  border: 2px solid #e5d0d3;
}

.navbarCustomSaso .dropdownCustom {
  margin-top: -5px;
}

.navbarCustomSaso .dropdownCustom a.nav-link {
  background-color: rgba(0, 112, 102, 0.2);
  border-radius: 50px;
  color: #CCA079 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbarCustomSaso .dropdownCustom a.nav-link span {
  color: #6C788D;
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
}

.navbarCustomSaso .dropdownCustom a.nav-link i {
  color: #007066;
}

.navbarCustomSaso .dropdownCustom a.nav-link i:first-of-type {
  padding-right: 6px;
  font-size: 20px;
  margin-bottom: -8px;
}

.navbarCustomSaso .dropdownCustom a.nav-link i:last-of-type {
  padding-left: 6px;
  font-size: 15px;
  margin-bottom: -5px;
}

.navbarCustomSaso .dropdownCustom a.nav-link::after {
  content: unset;
}

.navbarCustomSaso .dropdownCustom .dropdown-menu {
  border: unset;
  padding: 21px 24px;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.1);
  left: 25px;
  min-width: 261px;
  top: 60px;
}

.navbarCustomSaso .dropdownCustom .dropdown-menu .dropdown-item {
  text-align: left;
  font-size: 16px;
  color: #007066 !important;
  padding: 0 0 10px 0 !important;
}

.navbarCustomSaso .dropdownCustom .dropdown-menu .dropdown-item img {
  max-width: 24px;
  margin-right: 12px;
}

.navbarCustomSaso .dropdownCustom .dropdown-menu .dropdown-item:hover {
  background-color: unset;
}

.navbarCustomSaso .dropdownCustom .dropdown-menu .dropdown-item:active {
  background-color: unset;
}

.navbarCustomSaso .dropdownCustom .dropdown-menu .dropdown-divider + .dropdown-item {
  color: #012D29 !important;
  padding: 0 !important;
}

.LinksDashboard {
  background-color: #066058;
}

.LinksDashboard .logoDash {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 98px;
}

.LinksDashboard .ulSide {
  list-style: none;
  padding: 0;
}

.LinksDashboard .ulSide li {
  padding: 16px 24px;
}

.LinksDashboard .ulSide li a img {
  max-width: 25px;
}

.LinksDashboard .ulSide li a span {
  padding-left: 24px;
  font-size: 18px;
  color: #fff;
}

.LinksDashboard .ulSide li.active {
  background: #008E7D;
}

.homeSlider .wrapperSlide {
  position: relative;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, right top, left top, from(#008E7D), color-stop(71.9%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #008E7D 0%, rgba(255, 255, 255, 0) 71.9%);
}

.homeSlider .wrapperSlide .aboImg {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.homeSlider .wrapperSlide .textBanner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 45px 0;
}

.homeSlider .wrapperSlide .textBanner > * {
  color: #fff;
}

.homeSlider .wrapperSlide .textBanner h2 {
  font-family: "SomarBold";
  font-size: 45px;
  margin-bottom: 16px;
  line-height: 140%;
  width: 60%;
}

.homeSlider .wrapperSlide .textBanner p {
  margin-bottom: 30px;
  width: 77%;
  color: #fff;
  font-family: "SomarLight";
  font-weight: unset;
}

.homeSlider .swiper-pagination-bullet {
  background: white;
  opacity: 1;
}

.homeSlider .swiper-pagination-bullet-active {
  background: #008E7D;
}

.homeNumber {
  padding: 28px 0;
}

.homeNumber .boxNum {
  direction: rtl;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 50px;
  border-radius: 10px;
  background: var(--White, #fff);
  -webkit-box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.02);
          box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.02);
  background-image: url("../images/ShapesNumbHome.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}

.homeNumber .boxNum .numberCountUp {
  position: relative;
  z-index: 2;
  text-align: left;
}

.homeNumber .boxNum .numberCountUp .counter {
  color: #fff;
  font-size: 33px;
  font-weight: 600;
  font-family: "Inter";
  margin: 0;
}

.homeNumber .boxNum .numberCountUp span {
  color: #fff;
  font-weight: 600;
}

.homeNumber .boxNum::after {
  position: absolute;
  content: "";
  -webkit-clip-path: polygon(49% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(49% 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: #0096b6;
  width: 65%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 10px 10px 10px 0px;
}

.homeNumber .col-md-4:nth-of-type(2) .boxNum::after {
  background-color: #529C44;
}

.homeNumber .col-md-4:nth-of-type(1) .boxNum::after {
  background-color: #8D5316;
}

.sasoFooter {
  background: #f8f8f8;
  padding: 17px 0;
}

.sasoFooter .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: rtl;
}

.sasoFooter .policySec {
  direction: rtl;
}

.sasoFooter .logosFooter a:not(:last-of-type) {
  margin-left: 20px;
}

.sasoFooter .sasoRSV a,
.sasoFooter .sasoRSV p,
.sasoFooter .policySec a,
.sasoFooter .policySec p {
  font-size: 12px;
  color: #464646;
  margin-bottom: 0;
}

.sasoFooter .policySec a {
  margin: 5px;
  text-decoration: none;
}

.sasoModal .modal-dialog {
  max-width: 1000px;
}

.sasoModal .logoLogin {
  height: 100%;
}

.sasoModal .input-group input,
.sasoModal .input-group select,
.sasoModal .input-group textarea {
  width: 100%;
}

.sasoModal .loginRegister {
  direction: rtl;
}

.sasoModal .textForm {
  text-align: center;
  padding-top: 45px;
}

.sasoModal .textForm h2.font30 {
  color: #066058;
  margin: 22px 0 0 0;
}

.sasoModal .textForm p.font20, .sasoModal .textForm .homeSlider .wrapperSlide .textBanner p, .homeSlider .wrapperSlide .textBanner .sasoModal .textForm p {
  margin-bottom: 20px;
  color: #6C788D;
  margin-top: 10px;
}

.sasoModal .form input {
  text-align: left;
}

.sasoModal .form .btnMain, .sasoModal .form .btnMainWhite {
  width: 100%;
  margin-bottom: 20px;
}

.sasoModal .registerWay2 {
  border: 1px solid #eef1f4;
  padding: 9px 5px;
  text-decoration: unset;
}

.sasoModal .registerWay2 > img {
  max-width: 50px;
}

.sasoModal .registerWay2 p {
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  color: #6C788D;
}

.sasoModal .registerWay2 p strong {
  display: block;
  color: #000000;
}

.sasoModal .registerLink {
  margin-top: 6px;
  margin-bottom: 30px;
}

.sasoModal .registerLink span {
  color: #464646;
  font-weight: 500;
}

.sasoModal .registerLink .addAccount {
  color: #008E7D;
  padding: 0;
  background: #fff;
  padding-left: 15px;
}

.sasoModal .formModal {
  width: 400px;
  min-height: 600px;
  margin: 0 auto;
}

.sasoModal .modal-body {
  padding: 0;
}

.sasoModal .modal-body .clearPadding {
  padding: 0;
  background: #f8f8f8;
}

.sasoModalInner .modal-dialog {
  max-width: 1000px;
}

.sasoModalInner .titleModal {
  color: #008E7D;
  font-size: 30px;
  margin-bottom: 30px;
}

.sasoModalInner input,
.sasoModalInner select,
.sasoModalInner textarea {
  width: 100%;
}

.sasoModalInner .modal-body {
  padding: 30px 18px;
}

.navbarCustomSaso .navbar-light .dropdownCustom .nav-link > img:first-of-type {
  margin-top: 3px;
}

/* style for upload files */
.filepond--root .filepond--credits[style] {
  display: none;
  font-family: "SomarRegular";
}

.filePoundClass {
  width: 100%;
  margin-bottom: 20px;
}

.filePoundClass .filepond--drop-label {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #6c788d;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 6px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 14px;
  background: #fff url(../images/VectorUpload.svg) no-repeat;
  background-position: 14px;
}

.filePoundClass .filepond--drop-label label {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #6c788d;
  font-family: "SomarRegular";
}

.filePoundClass .filepond--item {
  top: 6px;
}

.filePoundClass .filepond--file-action-button.filepond--file-action-button {
  font-size: 14px;
  width: 30px;
  height: 25px;
  min-width: unset;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  will-change: transform, opacity;
}

.filePoundClass .filepond--file-info .filepond--file-info-main {
  font-size: 14px;
  font-family: "SomarRegular";
}

.filePoundClass .filepond--file-info-sub {
  font-size: 12px;
  font-family: "SomarRegular";
}

.required::after {
  content: "*";
  font: normal 15px/20px "SomarRegular", arial, sans-serif;
  color: #464646;
  margin-left: 5px;
}

.inputDate input {
  background: #fff url(../images/DateIcon.svg) no-repeat;
  background-position: 14px;
}

.searchWarper .inputGroup.inputGroup .btnMain, .searchWarper .inputGroup.inputGroup .btnMainWhite {
  margin: 0 10px;
}

.searchWarper .inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchWarper .inputGroup .inputSearch input {
  min-width: 300px;
}

.searchWarper .inputGroup .inputDate {
  width: 200px;
}

.searchWarper .inputGroup .inputDate input {
  background: #fff url(../images/DateIcon.svg) no-repeat;
  background-position: 14px;
  width: 200px;
}

.searchWarper .hideSeach {
  display: none;
}

.searchWarper .hideSeach select,
.searchWarper .hideSeach .inputDate {
  margin-right: 10px;
}

.searchWarper .showIt {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchWarper .searchAdv {
  font-size: 16px;
  color: #008E7D;
  text-decoration: underline;
}

.notHome.layoutDashboard .clearPaddingCont {
  margin-left: 0;
  padding-left: 24px;
  padding-top: 20px;
  margin: 0 auto;
}

.notHome.layoutDashboard .clearPaddingCont > .title {
  margin-bottom: 20px;
}

.notHome.layoutDashboard .navbar-brand:not(.disable) {
  margin: 0;
}

.mainWhiteBox {
  min-width: 200px;
  min-height: 200px;
  background: #fff url(../images/BGLegan.svg) no-repeat;
  text-align: center;
  padding: 9px 11px 40px 11px;
  border-radius: 10px;
  height: 100%;
}

.mainWhiteBox.BoxUser {
  border: 1px solid #dadada;
}

.mainWhiteBox.BoxUser .textLegan .p18 {
  font-size: 14px;
  font-family: "SomarRegular";
}

.mainWhiteBox.BoxUser .textLegan .font15 a,
.mainWhiteBox.BoxUser .textLegan .font15 {
  color: #464646;
  font-size: 14px;
  font-family: "SomarLight";
}

.mainWhiteBox .logoLegan img {
  width: 40px;
  margin: 10px 0 5px;
}

.mainWhiteBox .textLegan .font22 {
  font-size: 21px;
}

.mainWhiteBox .textLegan .font15 {
  margin-bottom: 0;
}

.actionsLegan {
  position: relative;
  text-align: right;
}

.actionsLegan .moreBox {
  position: absolute;
  right: 0;
  background: #eef1f4;
  border: 1px solid #eef1f4;
  min-width: 120px;
  min-height: 110px;
  width: auto;
  height: auto;
  text-align: left;
  padding: 14px;
  border-radius: 5px;
  z-index: 2;
  display: none;
}

.actionsLegan .moreBox > a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

.actionsLegan .moreBox > a:last-of-type {
  margin-bottom: 0px;
}

.actionsLegan .moreBox > a img {
  max-width: 16px;
}

.actionsLegan .moreBox > a span {
  font-size: 16px;
  color: #464646;
  margin-left: 5px;
}

.col-md-3 > .btnMainWhite.addPadding {
  width: 100%;
}

.viewLevels {
  padding: 10px 0 17px;
  list-style: none;
}

.viewLevels li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #4646464d;
  padding-bottom: 13px;
  margin-bottom: 13px;
}

.viewLevels li span {
  font-size: 15px;
  color: #464646;
}

.viewLevels li span:nth-of-type(1) {
  width: 15%;
}

.viewLevels li span:nth-of-type(2) {
  width: 40%;
}

.viewLevels li span:nth-of-type(3) {
  width: 20%;
}

.viewLevels li span:nth-of-type(4) {
  width: 22%;
}

.viewLevels li span:not(:last-of-type) {
  margin-right: 10px;
}

.customWidthRow {
  margin-top: 20px;
}

.customWidthRow .col-md-3 {
  padding-bottom: 20px;
  width: 20%;
}

.pagination {
  padding: 20px 0 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination .NextPagi,
.pagination .prePagi,
.pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 0;
  margin: 0 4px;
  font-size: 18px;
  color: #5e81a4;
  border: unset;
  min-width: 30px;
  border: 1px solid #eef1f4;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
}

.pagination .current,
.pagination a.current {
  background-color: #066058;
  border: 1px solid #066058;
  color: #fff;
  cursor: unset;
}

.pagination .aspNetDisabled {
  cursor: unset;
  opacity: 0.5;
}

.accordionCustom {
  margin-top: 20px;
}

.accordionCustom .accordion-button:focus {
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.accordionCustom .accordion-item {
  border: 1px solid #eef1f4;
  margin-bottom: 20px;
}

.accordionCustom .accordion-item .accordion-header .accordion-button {
  background: #eef1f4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #464646;
  font-size: 18px;
  font-weight: 600;
}

.accordionCustom .accordion-item .accordion-header .accordion-button::after {
  margin: 0;
  background-image: url(../images/ArrowAcc.svg);
}

.accordionCustom .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background: #008E7D;
  color: #fff;
}

.accordionCustom .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  -webkit-filter: bleftness(0) invert(1);
          filter: bleftness(0) invert(1);
}

.accordionCustom .accordion-body {
  padding: 23px 0 20px;
}

.accordionCustom .accordion-body .customWidthRow {
  margin-top: 0;
}

.addMemnerBox {
  background: #eef1f4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addMemnerBox .font20, .addMemnerBox .navbarCustomSaso .navbar-light .navbar-nav .nav-link span, .navbarCustomSaso .navbar-light .navbar-nav .nav-link .addMemnerBox span, .addMemnerBox .homeSlider .wrapperSlide .textBanner p, .homeSlider .wrapperSlide .textBanner .addMemnerBox p, .addMemnerBox .homeNumber .boxNum .numberCountUp span, .homeNumber .boxNum .numberCountUp .addMemnerBox span {
  color: #464646;
  font-weight: 600;
  margin-top: 5px;
}

/*
    transform: scale(0.5,0.5);
    transform-origin: center;
    width: 200%;
    height: 0;
    position: absolute;
    right: -50%;

*/
.apexcharts-text tspan {
  font-family: "SomarRegular";
  font-size: 10px;
}

.apexcharts-legend-marker {
  border-radius: 50px !important;
  margin-right: 5px;
}

.apexcharts-legend-text {
  font-size: 10px !important;
}

.bgWhite, .wrapperDash {
  background: white;
  border-radius: 10px;
  padding: 10px;
  height: 95%;
}

.bgProfile {
  background: #fff;
  margin: 30px 0;
  padding: 21px;
  border-radius: 8px;
}

.viewAll {
  color: #6c788d;
  font-size: 16px;
  font-weight: 600;
}

.titleDash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #008E7D;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}

.titleDash.MainGreen {
  color: #529C44;
}

.titleDash.Brown {
  color: #8D5316;
}

.chartCRL {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.chartCRL p {
  margin: 0;
}

.chartCRL p span {
  font-size: 14px;
  color: #464646;
}

.chartCRL p span.circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #61c4bd;
  border-radius: 50px;
  margin-right: 5px;
}

.chartCRL p span.circle.darkCrc {
  background: #066058;
}

.chartCRL p span.circle.MainGreenBG {
  background: #529C44;
}

.chartCRL p span.circle.BrownBG {
  background: #8D5316;
}

.chartsSection {
  margin-bottom: 60px;
}

.chartsSection .mrgTop .col-md-4,
.chartsSection .mrgTop .col-md-8 {
  margin-top: 50px;
}

.wrapperDash {
  padding: 20px;
}

.DashBox {
  min-height: 100px;
  background: #61c4bd;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: 16px 10px;
  height: 80%;
}

.DashBox img {
  margin-bottom: 6px;
}

.DashBox span {
  font-size: 12px;
  font-family: "SomarLight";
  opacity: 0.8;
}

.swiperSection {
  padding: 30px 0;
}

.CommitteesColor .swiper-pagination-bullet-active {
  background: #61c4bd;
}

.ProjectColor .DashBox,
.ProjectColor .swiper-pagination-bullet-active {
  background: rgba(83, 156, 68, 0.6);
}

.MeetingColor .DashBox,
.MeetingColor .swiper-pagination-bullet-active {
  background: rgba(141, 83, 22, 0.6);
}

.tableOne.BrownColor .table thead tr th {
  color: #8d5316;
}

.tableOne.BrownColor .table thead tr th {
  border-bottom: 1.5px solid rgba(141, 83, 22, 0.5) !important;
}

.tableOne.BrownColor .table tbody tr th,
.tableOne.BrownColor thead tr th:not(:nth-of-type(2)),
.tableOne.BrownColor td:not(:nth-of-type(1)) {
  text-align: center;
}

.tableOne.BrownColor .table thead tr th:nth-of-type(2) {
  width: 50%;
}

.topNav {
  position: relative;
  display: none;
  z-index: 99;
}

.topNav .slide-nav {
  width: 34px;
  height: 30px;
  border: 1.5px solid #066058;
  border-radius: 3px;
  padding: 8px;
  display: inline-block;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 9999;
}

.topNav .slide-nav .menu-label {
  font-size: 14px;
  color: #066058;
  margin-bottom: 0;
  font-weight: bold;
  -webkit-transform: translate(-40px, -20px);
          transform: translate(-40px, -20px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.topNav .slide-nav span {
  display: block;
  background-color: #066058;
  height: 1px;
  margin-bottom: 5px;
}

.topNav .slide-nav span.first {
  width: 18px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.topNav .slide-nav span.second {
  width: 11.5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.topNav .slide-nav span.third {
  width: 6.5px;
  margin-bottom: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.topNav .opened.slide-nav .menu-label {
  opacity: 1;
}

.topNav .opened.slide-nav span.second {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.topNav .opened.slide-nav span.third {
  -webkit-transform: translateX(-9px);
          transform: translateX(-9px);
}

.opened.slide-nav {
  border: 1.5px solid #fff;
  position: fixed;
}

.opened.slide-nav span {
  background-color: #fff;
}

.opened.slide-nav .menu-label {
  display: none;
}

.mainCards.mainCards5 .mainCard h4 {
  font-size: 14px;
  text-align: center;
}

.customClose {
  position: absolute;
  top: 11px;
  left: 15px;
  width: auto;
  min-width: auto;
  display: none;
}

#navbarSupportedContent .nav-item.dropdown.dropdownCustom .dropdown-menu {
  display: none !important;
}

.tableOne.table-responsive {
  min-height: 300px;
}

.settingsTable thead th:last-of-type {
  width: 15%;
  text-align: center;
}

.settingsTable .actionsLegan {
  text-align: center;
}

.settingsTable.tableOne.table-responsive {
  /* fix open setting scroll */
  height: 120%;
}

.tabs-top-area .searchWarper select {
  margin-right: 10px;
  min-width: 180px;
}

.tabs-top-area .action.flexCenter .add-btn, .tabs-top-area .action.btnBoder .add-btn, .tabs-top-area .homeNumber .action.boxNum .add-btn, .homeNumber .tabs-top-area .action.boxNum .add-btn, .tabs-top-area .sasoFooter .action.policySec .add-btn, .sasoFooter .tabs-top-area .action.policySec .add-btn {
  margin-left: 10px;
  height: 45px;
}

.tabs-sec .nav-tabs .nav-link.active {
  color: #008E7D;
}

.tabs-sec .nav-tabs .nav-link.active .icon-box img {
  -webkit-filter: invert(31%) sepia(99%) saturate(1507%) hue-rotate(151deg) brightness(65%) contrast(101%);
          filter: invert(31%) sepia(99%) saturate(1507%) hue-rotate(151deg) brightness(65%) contrast(101%);
}

.flexProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flexProfile .PrStages-data {
  min-width: 60%;
  margin-top: 5px;
}

.flexProfile .imgProfile {
  max-width: 190px;
  text-align: center;
  padding: 17px;
  padding-left: 24px;
  -webkit-box-shadow: 0px 4px 20px 0px #EEEEEE80;
          box-shadow: 0px 4px 20px 0px #EEEEEE80;
  border-radius: 10px;
  border: 1px solid #DADADA;
  position: relative;
  overflow: hidden;
}

.flexProfile .imgProfile::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: transparent url(../images/ShapesPers.svg) no-repeat;
  z-index: 9;
  width: 50%;
  height: 75%;
}

.flexProfile .imgProfile img {
  width: 150px;
  border-radius: 50%;
  height: 160px;
}

.flexProfile .actionProfile a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexProfile .actionProfile a img {
  margin-left: 10px;
}

ul.PrStages-data li h4 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.bgProfile .tableOne.table-responsive {
  min-height: auto;
}

/* start AO responsive */
@media (max-width: 1600px) {
  .mainWhiteBox .textLegan .font22 {
    font-size: 19px;
  }
  .p18 {
    font-size: 16px;
  }
  .mainWhiteBox .textLegan .font15 {
    font-size: 14px;
  }
}

@media (max-width: 1400px) {
  body {
    zoom: 0.9;
  }
  .modal-backdrop.show {
    zoom: 1.5;
  }
  .homeSlider .wrapperSlide .textBanner h2 {
    font-size: 40px;
  }
  .mainWhiteBox .textLegan .font22 {
    font-size: 18px;
  }
  .p18 {
    font-size: 15px;
    color: #464646;
    margin-bottom: 5px;
  }
  .searchWarper .inputGroup > button,
  .searchWarper .inputGroup > a,
  .searchWarper .inputGroup > input,
  .searchWarper .hideSeach select,
  .searchWarper .hideSeach .inputDate {
    margin-bottom: 10px !important;
  }
  .searchWarper .inputGroup {
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .font30 {
    font-size: 25px;
  }
  .homeSlider .wrapperSlide .textBanner h2 {
    font-size: 35px;
  }
  .homeNumber .boxNum .numberCountUp .counter {
    font-size: 25px;
  }
  .font20, .navbarCustomSaso .navbar-light .navbar-nav .nav-link span, .homeSlider .wrapperSlide .textBanner p, .homeNumber .boxNum .numberCountUp span,
  .homeSlider .wrapperSlide .textBanner p {
    font-size: 18px;
  }
  .homeNumber .boxNum .numberCountUp span {
    font-size: 16px;
  }
  .sasoFooter .sasoRSV a,
  .sasoFooter .sasoRSV p,
  .sasoFooter .policySec a,
  .sasoFooter .policySec p {
    font-size: 10px;
  }
  /* end font 11111111111111 */
  button,
  .btnMain,
  .btnMainWhite, .btnMainWhite {
    font-size: 13px !important;
    padding: 5px 10px !important;
  }
  .sasoFooter .logosFooter a:not(:last-of-type) {
    margin-left: 12px;
  }
  .sasoFooter .logosFooter a img {
    zoom: 0.8;
  }
}

@media (min-width: 992px) and (max-width: 1199.999px) {
  body {
    zoom: 0.78;
  }
  .mainCards.mainCards5 .mainCard h4 {
    font-size: 12px;
  }
  .mainCards .mainCard .counter {
    font-size: 29px;
    margin-bottom: 0;
  }
  .swiperSection .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swiperSection .row .col-md-4 {
    width: 50%;
    margin-bottom: 45px;
  }
  .chartsSection .mrgTop:first-of-type .col-md-4,
  .chartsSection .mrgTop:first-of-type .col-md-8 {
    margin-top: 0;
  }
  .customWidthRow .col-md-3 {
    width: 25%;
  }
  .tabs-sec .nav-tabs .nav-link {
    padding: 10px;
    font-size: 16px;
  }
  .comment-sec {
    zoom: 0.8;
  }
}

@media (max-width: 992px) {
  .customClose {
    display: block;
  }
  .tableOne .table thead tr th {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .tabs-top-area .inputSearch select,
  .tabs-top-area .inputSearch .btnMain,
  .tabs-top-area .inputSearch .btnMainWhite {
    margin: 0 !important;
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .flexProfile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flexProfile .imgProfile {
    margin-bottom: 25px;
  }
  .flexProfile .actionProfile a img {
    margin-left: 10px;
    width: 18px;
  }
  .page-title h2 {
    font-size: 16px;
  }
  button,
  .btnMain,
  .btnMainWhite, .btnMainWhite, .btnMainWhite {
    font-size: 14px !important;
    padding: 4px 10px;
  }
  .settingsTable.tableOne.table-responsive {
    height: auto;
  }
  .actionsLegan .moreBox {
    zoom: .7;
  }
  .viewLevels {
    margin-top: 20px;
    overflow-y: auto;
  }
  .viewLevels li {
    margin-bottom: 6px;
  }
  .viewLevels li span {
    font-size: 12px;
    white-space: nowrap;
    width: auto !important;
    margin-left: 34px !important;
    border-bottom: 1px solid #4646464d;
    padding-bottom: 5px;
  }
  .sasoModalInner .titleModal {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .homeSlider .wrapperSlide .textBanner h2 {
    font-size: 25px;
  }
  .LinksDashboard .ulSide li a span,
  .homeSlider .wrapperSlide .textBanner p {
    font-size: 16px;
  }
  .comment-sec {
    zoom: 0.8;
  }
  .mainCards.mainCards5 .col-lg-3 {
    width: 50%;
  }
  .breadcrumb-main a {
    font-size: 12px;
  }
  .page-title h2 {
    font-size: 18px;
  }
  .mainCards .col-lg-3 {
    margin-bottom: 12px;
  }
  .customWidthRow .col-md-3 {
    width: 50%;
  }
  .topNav {
    display: block;
    height: 40px;
  }
  .LinksDashboard .ulSide li {
    padding: 12px 24px;
  }
  a.slide-nav::after {
    position: fixed;
    left: 35%;
    height: 100%;
    content: "";
    background: #06605836;
    width: 35%;
    top: 0;
    -webkit-transition: 800ms;
    transition: 800ms;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  a.slide-nav.opened::after {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .LinksDashboard {
    display: block;
    position: fixed;
    inset: 0;
    overflow: hidden;
    width: 65% !important;
    z-index: 9;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .LinksDashboard.showSide {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .notificationA.notificationB {
    display: block;
  }
  .notificationA.notificationB > button {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swiperSection .row .col-md-4 {
    width: 50%;
    margin-bottom: 45px;
  }
  .chartsSection .mrgTop .col-md-4,
  .chartsSection .mrgTop .col-md-8 {
    width: 100%;
    margin: 0 0 40px 0;
  }
  .notHome.layoutDashboard .navbar-brand:not(.disable) {
    display: none;
  }
  .layoutDashboard.notHome .containerCustom .navbar-brand.disable {
    display: block;
  }
  .chartsSection .mrgTop:first-of-type .col-md-4,
  .chartsSection .mrgTop:first-of-type .col-md-8 {
    margin-top: 0;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .homeNumber .col-md-4 {
    width: 100%;
  }
  .homeNumber .boxNum {
    margin-bottom: 30px;
  }
  .sasoFooter .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sasoFooter .sasoRSV {
    margin-top: 10px;
  }
  .navbarCustomSaso .navbar.navbar-expand-lg .navbar-nav.mr-auto {
    margin-top: 40px;
  }
  .navbarCustomSaso .navbar-light .navbar-nav .nav-link {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .sasoModal .formModal {
    width: 100%;
    min-height: auto;
  }
  .sasoModal .logoLogin {
    display: none;
  }
  .label,
  select,
  textarea::-webkit-input-placeholder,
  input::-webkit-input-placeholder {
    font-size: 13px;
  }
  .label,
  select,
  textarea:-ms-input-placeholder,
  input:-ms-input-placeholder {
    font-size: 13px;
  }
  .label,
  select,
  textarea::-ms-input-placeholder,
  input::-ms-input-placeholder {
    font-size: 13px;
  }
  .label,
  select,
  textarea::placeholder,
  input::placeholder {
    font-size: 13px;
  }
  .sasoModal .textForm {
    padding-top: 25px;
  }
  .input-group {
    margin-bottom: 10px;
    display: block;
  }
  .filePoundClass .filepond--drop-label label {
    font-size: 12px;
  }
  textarea:not([type="submit"]),
  select:not([type="submit"]),
  input:not([type="submit"]) {
    height: 40px;
    font-size: 13px;
  }
  button,
  .btnMain,
  .btnMainWhite, .btnMainWhite {
    font-size: 14px;
    padding: 6px 15px;
  }
  body {
    zoom: unset;
  }
  .layoutDashboard.notHome .contentDashboard {
    width: 100%;
  }
  .tabs-sec .nav-tabs .nav-link {
    width: calc(100% / 3);
    height: 60px;
    padding: 10px;
    font-size: 16px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .addMemnerBox {
    min-height: 200px;
  }
  /* end 922 */
}

@media (max-width: 767px) {
  .tabs-sec .nav-tabs .nav-link {
    width: calc(100% / 2);
    height: 55px;
    padding: 10px;
    font-size: 14px;
  }
  .tabs-top-area .add-btn {
    padding: 5px 9px;
    font-size: 12px;
    text-align: center;
  }
  .tabs-top-area .add-btn img {
    margin-left: 5px;
    width: 20px;
  }
  #nav-projects {
    height: 440px;
  }
  .breadcrumb-main span {
    font-size: 12px;
  }
  .mainCards.mainCards5 .col-lg-3 {
    width: 100%;
  }
  .homeNumber .boxNum img {
    width: 55px;
  }
  ul.PrStages-data {
    padding: 0;
  }
  ul.PrStages-data li a {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .tabs-top-area .action.flexCenter, .tabs-top-area .action.btnBoder, .tabs-top-area .homeNumber .action.boxNum, .homeNumber .tabs-top-area .action.boxNum, .tabs-top-area .sasoFooter .action.policySec, .sasoFooter .tabs-top-area .action.policySec {
    display: block;
  }
  .tabs-top-area .add-btn {
    padding: 7px 13px !important;
    font-size: 12px !important;
    height: auto !important;
    margin-bottom: 5px;
    width: 100%;
  }
  .comment-sec .comment-area .comment-added .reply-a a,
  .comment-sec .comment-area .comment-added .reply-a span,
  .comment-sec .comment-area .comment-added p,
  .mainCards .mainCard h4 {
    font-size: 16px;
  }
  ul.PrStages-data li p,
  ul.PrStages-data li h4 {
    font-size: 14px;
  }
  ul.PrStages-data li h4 {
    margin-bottom: 10px;
  }
  ul.PrStages-data li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainCards .mainCard .counter {
    font-size: 26px;
  }
  .tableOne .table tbody tr td,
  .tableOne .table tbody tr th,
  .tableOne .table thead tr th {
    white-space: nowrap;
  }
  .tabs-top-area .searchWarper .inputSearch input {
    width: 100%;
  }
  .tableOne .table tbody tr td, .tableOne .table tbody tr th {
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 7px;
  }
  .tabs-top-area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .comment-sec .comment-area .top-profile-box h4.name,
  .titleDash {
    font-size: 18px;
  }
  .viewAll {
    font-size: 14px;
  }
  .pagination {
    zoom: 0.8;
  }
  .comment-sec .comment-area .comment-added {
    padding-left: 45px;
  }
  .comment-sec .reply-area {
    padding-left: 65px;
    padding-top: 30px;
  }
  .comment-sec .reply-area .top-reply-box .img-box::before {
    width: 40px;
    left: -40px;
  }
  .comment-sec .comment-area .top-profile-box .img-box {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .searchWarper .inputGroup .inputDate {
    width: auto;
  }
  .searchWarper .inputGroup .inputDate input {
    width: 150px;
  }
  .comment-sec .reply-area .reply-added .content-sec .att a span,
  .DashBox {
    font-size: 14px;
  }
  .filePoundClass .filepond--drop-label label {
    font-size: 10px;
  }
  .comment-sec .reply-area .reply-added {
    padding-left: 5px;
  }
  .accordionCustom .accordion-item .accordion-header .accordion-button {
    font-size: 16px;
  }
  .swiperSection .row .col-md-4 {
    width: 100%;
    margin-bottom: 45px;
  }
  .customWidthRow .col-md-3 {
    width: 100%;
  }
  .btnBoder {
    min-width: 100px;
    min-height: 40px;
    font-size: 14px;
  }
  .homeSlider .wrapperSlide .textBanner h2,
  .homeSlider .wrapperSlide .textBanner p {
    width: 100%;
    margin-bottom: 20px;
  }
  .sasoFooter .sasoRSV {
    margin-top: 0;
  }
  .sasoFooter .policySec {
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  .WrapperContent > .container {
    max-width: 1400px;
  }
  .containerCustom {
    max-width: 1400px;
  }
}

@media (min-width: 1400px) {
  .notHome.layoutDashboard .clearPaddingCont {
    min-height: calc(100vh - 170px);
  }
}

@media (min-width: 1400px) {
  .homeSlider .wrapperSlide {
    height: calc(100vh - 381px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styleLTR.css.map */